.Accordeon {
  &_List {
    display: grid;
    gap: 14px;
    padding: 0 20px;
    width: 100%;
  }
  &_Header {
    width: 100%;
    padding: 18px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    text-align: left;
  }
  &_Title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  &_Icon {
    position: relative;
    width: 22px;
    height: 22px;
    flex: 0 0 22px;
    display: inline-block;
    @media (max-width: 768px) {
      width: 12px;
      height: 12px;
    }
    &_Line {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 22px;
      height: 2px;
      background: rgba(255, 255, 255, 0.9);
      transform: translate(-50%, -50%);
      border-radius: 2px;
      @media (max-width: 768px) {
        width: 12px;
      }
      &_V {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  &_Content {
    padding: 0 18px 18px 18px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 16px;
    line-height: 1.5;
    max-width: 100%;
    word-break: break-all;
    @media (max-width: 768px) {
      font-size: 12px;
    }
    &_Wrap {
      overflow: hidden;
    }
  }
}
