.Container {
  width: 100%;
  padding: 16px 32px;

  align-items: center;
  @media (max-width: 1100px) {
    padding: 12px 24px;
  }
  @media (max-width: 550px) {
    padding: 8px 12px;
  }
  & > div {
    display: flex;
    gap: 16px;
    border-radius: 60px;
    align-items: center;
  }
}

.InputField {
  width: 100%;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: 28px;
  font-weight: 600;
  @media (max-width: 1100px) {
    font-size: 18px;
  }
  @media (max-width: 550px) {
    font-size: 16px;
  }
}

.StartIcon {
  width: 40px;
  height: 40px;
  @media (max-width: 1100px) {
    width: 28px;
    height: 28px;
  }
  @media (max-width: 550px) {
    width: 20px;
    height: 20px;
  }
}
