.Container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin: 0 auto;
  align-items: center;
  margin-top: 100px;
}

.Title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}
