.AuthPage {
  min-height: 100vh;
  background-color: #191917;
  overflow: hidden;
  max-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.Blur {
  background-color: #2d0d40;
  border-radius: 50%;
  filter: blur(100px);
  flex-shrink: 0;
  height: 680px;
  left: -130px;
  top: 220px;
  position: absolute;
  transform: translateY(-70%);
  width: 680px;
  z-index: 0;
  @media (max-width: 768px) {
    width: 400px;
    height: 400px;
    top: 100px;
  }
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1100px;
  padding: 0 12px;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 10;
  margin-top: 120px;
  @media (max-width: 1100px) {
    margin-top: 80px;
    gap: 32px;
  }
  @media (max-width: 550px) {
    margin-top: 40px;
    gap: 24px;
  }
  &_Header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    @media (max-width: 550px) {
      gap: 12px;
    }
    &_Title {
      font-size: 64px;
      font-weight: 600;
      @media (max-width: 1100px) {
        font-size: 36px;
      }
      @media (max-width: 550px) {
        font-size: 32px;
      }
    }
    &_Description {
      font-size: 32px;
      font-weight: 500;
      @media (max-width: 1100px) {
        font-size: 20px;
      }
    }
  }
  &_Inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & > button {
      background-color: rgba(96, 17, 255, 1);
      padding: 18px;
      width: 100%;
      border: 0;
      outline: 0;
      font-size: 32px;
      font-weight: 500;
      border-radius: 20px;
      @media (max-width: 1100px) {
        font-size: 20px;
        padding: 12px;
      }
      @media (max-width: 550px) {
        font-size: 16px;
      }
    }
  }
}

.Registration {
  color: rgba(161, 161, 161, 1);
  font-size: 20px;
  font-weight: 500;
  @media (max-width: 1100px) {
    font-size: 14px;
    padding: 0px;
  }
}
