.SupportedBy {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 100px;
  @media (max-width: 768px) {
    gap: 32px;
  }
}

.Info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.Logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  & > img {
    width: 100%;
    flex: 1;
  }
}
