.Listing {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.Exchanges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  padding: 0 16px;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.Exchange {
  padding: 44px 40px;
  @media (max-width: 1200px) {
    padding: 32px 28px;
  }
  @media (max-width: 768px) {
    padding: 22px 20px;
  }
  &_Content {
    display: flex;
    align-items: center;
    justify-content: center;
    & > img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      @media (max-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
    & > p {
      font-size: 40px;
      font-weight: 600;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
