.Economy {
  margin-top: 40px;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 0 40px;
  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.Content {
  display: flex;
  gap: 16px;
  width: 100%;
  max-width: 1500px;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.Title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.Main {
  display: flex;
  gap: 16px;
  width: 100%;
  flex: 1;
}

.Tokenomic {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  width: 100%;
  &_Buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
    &_Active {
      background-color: #6011ff !important;
      color: white !important;
    }
    & > button {
      font-size: 20px;
      font-weight: 500;
      padding: 12px 24px;
      background-color: #a2a499;
      color: black;
      outline: 0;
      border: 0;
      border-radius: 100px;
      @media (max-width: 1000px) {
        font-size: 12px;
        padding: 8px 12px;
      }
    }
  }
  &_Stats {
    display: flex;
    justify-content: space-between;
    &_Diagram {
      height: 256px !important;
      width: 256px;
      @media (max-width: 768px) {
        height: 124px !important;
        width: 124px;
      }
    }
    &_Data {
      display: grid;
      grid-template-columns: 12px 36px 1fr;
      column-gap: 8px;
      align-items: center;
      & > div {
        height: 12px;
        border-radius: 20px;
      }
      & > p {
        font-size: 16px;
        font-weight: 600;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
      & > span {
        font-size: 16px;
        font-weight: 600;
        color: #a1a1a1;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}

.Analytic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  &_FullBlock {
    grid-column: 1 / -1;
    padding: 20px;
    width: 100%;
    height: 100px;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media (max-width: 768px) {
      padding: 16px;
      height: 78px;
    }
  }
  &_PartBlock {
    grid-column: span 1;
    padding: 20px;
    height: 100px;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      padding: 16px;
      height: 78px;
    }
  }
  &_Label {
    font-size: 20px;
    font-weight: 500;
    color: #a1a1a1;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  &_Value {
    font-size: 28px;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}
