.Carousel {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 40px 0;
  @media (max-width: 768px) {
    gap: 32px;
  }
}

.Title {
  font-size: 64px;
  font-weight: 600;
  margin: 0 auto;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}
