.Container {
  width: 100%;
  max-width: 740px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin: 0 auto;
  align-items: center;
  margin-top: 100px;
  padding: 0 20px;
  @media (max-width: 1100px) {
    max-width: 500px;
  }
  @media (max-width: 768px) {
    max-width: 350px;
  }
}

.Title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.Medias {
  display: flex;
  width: 100%;
  justify-content: space-between;
  & > a > img {
    width: 240px;
    height: 240px;
    @media (max-width: 1100px) {
      width: 140px;
      height: 140px;
    }
    @media (max-width: 768px) {
      width: 80px;
      height: 80px;
    }
  }
}
