.BlockchainBars {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 40px;
  @media (max-width: 768px) {
    gap: 32px;
  }
}
.Title {
  font-size: 64px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.Bars {
  display: flex;
  align-items: end;
  background-color: transparent;
  justify-content: center;
  gap: 12px;
  margin: 0 auto;
  &_Element {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 32px;
    height: 500px;
    @media (max-width: 768px) {
      gap: 12px;
      height: 200px;
    }
    &_Value {
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    &_Bar {
      width: 64px;
      @media (max-width: 768px) {
        width: 24px;
      }
    }
  }
}
