.Slider {
  position: relative;
  width: 100%;
}

.Slides {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: start;
  transition: transform 0.5s ease;
  &_Container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.Slide {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: start;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  border-radius: 12px;
  padding-top: 10px;
  height: 620px;
  @media (max-width: 768px) {
    height: 360px;
  }
  @media (max-width: 550px) {
    height: 340px;
  }
  &_Wrapper {
    margin: 0 8px;
    height: 100%;
    &_Image {
      width: 100%;
      border-radius: 12px;
    }
    &_Text {
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 20px;
      @media (max-width: 768px) {
        gap: 8px;
      }
    }
    &_Title {
      font-size: 28px;
      font-weight: 600;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    &_Description {
      font-size: 20px;
      font-weight: 500;
      color: #a1a1a1;
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
}

.PrevArrow,
.NextArrow {
  position: absolute;
  bottom: -60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.PrevArrow {
  left: 10px;
}

.NextArrow {
  right: 10px;
}
